<% if !user_signed_in?%>
  <div class="jumbotron">
    <h1 class="display-4">Hello User</h1>
    <p class="lead">In order to using this app you need to create an account.</p>
    <hr class="my-4">
    <%= link_to "Sign up", sign_up_path, class: "btn btn-primary" %>
  </div>
<% else %>
<div class="row center mt-5">
  <div class="col-6">
    <div class="card" style="width: 18rem;">
      <%= image_tag "foodlog.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Food log</h5>
        <p class="card-text">You can record your daily meal intake</p>
        <%= link_to "Food log", foodlogs_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card" style="width: 18rem;">
      <%= image_tag "todo.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">Todo list</h5>
          <p class="card-text">You can plan your day with this to list</p>
          <%= link_to "Todo list", todolists_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
  <%# <%= link_to "To Do List", todolists_path, class: "btn btn-primary"  %> 
<% end %>
